.header--capitalism {
    display: none;
}

.wrapper--capitalism {
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;

    .header {
        padding-top: 0px;
    }

    .title
    {
        display: none;
    }

    .button {
        background-color: #e05e00;
        margin-left: 10px;
    }

    .content
    {
        padding-left: 8px;
        padding-right: 8px;
    }

    .header--capitalism-content {
        max-width: 100%;
        position: relative;
        right: 0;
        font-family: 'Guardian Egyptian Web';
        font-weight: 600;
        font-size: 16px;
        padding-top: 0px;
        padding-left: 3px;
        padding-bottom:6px;
        line-height: 1.15em;
    }

    .header--capitalism {
        display: block;
        font-family: 'Guardian Egyptian Web';
        font-size: 20px;
        line-height: 1;
        font-weight: 700;
        margin: 0;
        min-height: 100px;
        background-color: #F2E7D5;
        //position: absolute;

        .logo_text {
            position: absolute;
            top: 14px;
            left: 4px;

        }

        span {
            display: block;
            top: 0px;
            left: 10px;
            background-color: #121212;
            color: #fff;
            font-size: 24px;
            padding: 4px;
            max-width: 180px;

            @include mq(360px) {
                left: 0px;
                font-size: 28px;
            }

            &:first-of-type {
                display: inline;
            }
        }
    }

    .logo_wrapper {
        position: relative;
    }

    .logo {
        max-height: 100px;
        display: block;
        margin-bottom: 6px;
        position: absolute;
        overflow: visible;
        margin-top: 0px;
        right: 10px;
        margin-bottom: 2px;
        padding-top: 12px;
    }

    .links {
        margin-top: 0px;
    }

    .links a {
        color: $c-black;
        transition: color 0.2s linear;

        &:hover {
            color: $c-red;
        }

/*
        &:last-of-type {
            display: none;
        }
        */

    }

    .link {
        border-top: 0;
        background-image: linear-gradient(to right,#dcdcdc 50%,transparent 0);
        background-size: 10px 1px;
        background-position: left top;
        background-repeat: repeat-x;
        font-family: 'Guardian Egyptian Web';
        font-size: 18px;
        padding-top: 6px;
        font-weight: 600;
        color: #e05e00;
        padding-left: 8px;
        line-height: 1.2em;

        @include mq($until: mobile) {
            padding-bottom: 10px;
        }

        &:hover {
            background-color: #f9b376;
        }
    }

    .link:after {
        content: '';
        background-image: url("data:image/svg+xml; utf8, <svg class='uit-icon' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'><path d='M38.65 25.58L37 27.21 26.79 37.44l-1.1-1.11 8.53-10.19H12.5v-2.28h21.72l-8.53-10.19 1.1-1.1L37 22.79l1.63 1.63v1.16z'/></svg>");
        background-repeat: no-repeat;
        background-position: 0px;
        background-size: auto;
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0.5);
        width: 25px;
        height: 25px;
        border-radius: 50%;
        padding-left: 5px;
        padding-top: 5px;
        position: absolute;
        top: 4px;
        right: 4px;
        bottom: 4px;
        margin: auto;
        display: block;
        transition: color 0.3s ease-out, background 0.3s ease-out, border 0.3s ease-out;
        background-color: #f9b376;
        margin-right: 8px;

        @include mq($until: mobile) {
            top: 0;
            right: 0;
            bottom: 0px;
        }

    }
}

.header--midterms {
    display: none;
}
