.header--colourism{
    display: none;
}

.wrapper--colourism {
    .title,
    .content {
        display: none;
    }

    .button {
        background-color: #60546B;
    }

    .header--colourism-content {
        max-width: 100%;
        position: relative;
        right: 0;
        font-family: 'Guardian Egyptian Web';
        font-weight: 600;
        font-size: 16px;
        padding-top: 0px;
        padding-left: 3px;
        padding-bottom:6px;
    }

    .header--colourism {
        display: block;
        font-family: 'Guardian Egyptian Web';
        font-size: 20px;
        line-height: 1;
        font-weight: 900;
        margin: 0;
        background-color: #EFE1CD;

        span {
            position: absolute;
            top: 13%;
            left: 20%;;
            background-color: #121212;
            color: #fff;
            font-size: 26px;
            padding: 4px;
        }
    }

    .logo {
        max-width: 160px;
        display: block;
        margin-bottom: 6px;
        //position: absolute;
        overflow: visible;
        margin-left: 20%;
        top: 0;
        margin-bottom: 2px;
    }

    .links {
        margin-top: 0px;
    }

    .links a {
        color: $c-black;
        transition: color 0.2s linear;

        &:hover {
            color: $c-red;
        }
    }

    .link {
        border-top: 0;
        background-image: linear-gradient(to right,#dcdcdc 50%,transparent 0);
        background-size: 10px 1px;
        background-position: left top;
        background-repeat: repeat-x;
        font-family: 'Guardian Egyptian Web';
        font-size: 18px;
        padding-top: 6px;
        font-weight: 600;
        color: #4E4557;

        @include mq($until: mobile) {
            padding-bottom: 40px;
        }
    }

    .link:after {
        content: '';
        background-image: url("data:image/svg+xml; utf8, <svg class='uit-icon' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'><path d='M38.65 25.58L37 27.21 26.79 37.44l-1.1-1.11 8.53-10.19H12.5v-2.28h21.72l-8.53-10.19 1.1-1.1L37 22.79l1.63 1.63v1.16z'/></svg>");
        background-repeat: no-repeat;
        background-position: 0px;
        background-size: auto;
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0.5);
        width: 25px;
        height: 25px;
        border-radius: 50%;
        padding-left: 5px;
        padding-top: 5px;
        position: absolute;
        top: 4px;
        right: 4px;
        bottom: 4px;
        margin: auto;
        display: block;
        transition: color 0.3s ease-out, background 0.3s ease-out, border 0.3s ease-out;
        background-color: #D0BEBE;

        @include mq($until: mobile) {
            top: auto;
            right: auto;
            left: 0;
            bottom: 14px;
        }

    }
}

.header--midterms {
    display: none;
}
