.wrapper--midterms {
    .content,
    .button,
    .title {
        display: none;
    }

    .header--midterms {
        display: block;
        font-family: 'Guardian Egyptian Web';
        font-size: 20px;
        line-height: 1;
        font-weight: bold;
        margin: 0;
    }

    .logo {
        max-width: 65px;
        display: block;
        margin-bottom: 6px;
    }

    .links a {
        color: $c-black;
        transition: color 0.2s linear;

        &:hover {
            color: $c-red;
        }
    }

    .link {
        border-top: 0;
        background-image: linear-gradient(to right,#dcdcdc 50%,transparent 0);
        background-size: 10px 1px;
        background-position: left top;
        background-repeat: repeat-x;
        font-family: 'Guardian Sans Web';
        font-size: 16px;
        padding-top: 6px;

        @include mq($until: mobile) {
            padding-bottom: 40px;
        }
    }

    .link:after {
        background-image: url('https://interactive.guim.co.uk/thrashers/midterms-2018/hashed/logo-color-half.53ac362a.svg');
        border: none;
        border-radius: 0;
        background-size: calc(100% - 2px);
        top: 0;
        right: 0;
        width: 16px;
        height: 16px;

        @include mq($until: mobile) {
            top: auto;
            right: auto;
            left: 0;
            bottom: 14px;
        }

    }
}

.header--midterms {
    display: none;
}
