.header--plastic, .subtitle--plastic{
    display: none;
}


.wrapper--plastic {
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;

    .title
    {
        display: none;
    }

    .button {
        background-color: $c-black;
        margin-left: 8px;
        color: $c-white;

        &:hover {
            background-color: $c-yellow;
            color: $c-black;
        }
    }

    .content
    {
        padding-left: 8px;
        padding-right: 8px;

        .subtitle--plastic {
            display: block;
            font-size: 21px;
            font-weight: 300;
            font-family: 'Guardian Egyptian Web';
            line-height: 1.1em;
            padding-bottom: 10px;
            color: #333333;
        }
    }

    .header--plastic-content {
        max-width: 100%;
        position: relative;
        right: 0;
        font-family: 'Guardian Egyptian Web';
        font-weight: 600;
        font-size: 16px;
        padding-top: 0px;
        padding-left: 3px;
        padding-bottom:6px;
        line-height: 1.15em;
    }

    .header--plastic {
        display: block;
        font-family: 'Guardian Egyptian Web';
        font-size: 20px;
        line-height: 1;
        font-weight: 900;
        margin: 0;
        min-height: 130px;
        position: relative;
        margin-top: 0px;
        background-color: #ffe500;
        padding-top: 12px;
        overflow: hidden;

        span {
            position: relative;
            bottom: 0px;
            left: 6px;
            color: #f6f6f6;
            font-size: 24px;
            font-weight: 700;
            padding: 4px;
            background-color: #052962;
            //margin-right: 140px;
            line-height: 1.2;
            margin-top: 20px;
        }
    }

    .paper {
        max-width: 200px;
        display: block;
        margin-bottom: 6px;
        position: absolute;
        overflow: visible;
        left: 3px;
        top: 0px;
        margin-bottom: 2px;
    }
    .logo {
        max-width: 100%;
        display: block;
        left: 0px;
        position: absolute;
        margin-top: 40px;
        bottom: -7px;
    }

    .links {
        margin-top: 0px;
    }

    .links a {
        color: $c-black;
        transition: color 0.2s linear;

        &:hover {
            color: $c-red;
        }
    }

    .link {
        border-top: 0;
        background-image: linear-gradient(to right,#dcdcdc 50%,transparent 0);
        background-size: 10px 1px;
        background-position: left top;
        background-repeat: repeat-x;
        font-family: 'Guardian Egyptian Web';
        font-size: 18px;
        padding-top: 6px;
        font-weight: 600;
        color: #333333;
        padding-left: 8px;

        @include mq($until: mobile) {
            padding-bottom: 10px;
        }

        &:hover {
            background-color: #ededed;


            &:after {
                background-color: $c-grey;
                border: $c-black;
            }
        }
    }

    .link:after {
        content: '';
        background-image: url("data:image/svg+xml; utf8, <svg class='uit-icon' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'><path d='M38.65 25.58L37 27.21 26.79 37.44l-1.1-1.11 8.53-10.19H12.5v-2.28h21.72l-8.53-10.19 1.1-1.1L37 22.79l1.63 1.63v1.16z'/></svg>");
        background-repeat: no-repeat;
        background-position: 0px;
        background-size: auto;
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0.5);
        width: 25px;
        height: 25px;
        border-radius: 50%;
        padding-left: 5px;
        padding-top: 5px;
        position: absolute;
        top: 4px;
        right: 4px;
        bottom: 4px;
        margin: auto;
        display: block;
        transition: color 0.3s ease-out, background 0.3s ease-out, border 0.3s ease-out;
        background-color: #f6f6f6;
        margin-right: 8px;

        @include mq($until: mobile) {
            top: 0;
            right: 0;
            bottom: 0px;
        }
    }
}

.header--midterms {
    display: none;
}
